@font-face {
    font-family: Kanit;
    src: url(../fonts/Kanit-SemiBold.ttf);
}

@font-face {
    font-family: Kanit-regular;
    src: url(../fonts/Kanit-Medium.ttf);
}

@font-face {
    font-family: Kanit-light;
    src: url(../fonts/Kanit-Light.ttf);
}

@font-face {
    font-family: Kanit-thin;
    src: url(../fonts/Kanit-Thin.ttf);
}

@font-face {
    font-family: Kanit-black;
    src: url(../fonts/Kanit-Black.ttf);
}

:root {
    --bg: hsl(27, 90%, 15%);
    /* --bg-gradient-overlay: linear-gradient(90deg, hsla(24, 67%, 10%, 0.8) 0%, hsla(27, 58%, 14%, 0.8) 35%, hsla(32, 76%, 10%, 0.8) 100%); */
    --bg-scaleviewer: hsl(42, 25%, 21%);
    --scaleview-shadow: hsl(28, 35%, 13%);
    --menu-bg-color: hsl(34, 68%, 10%);
    --menu-button-text-color: hsl(0, 50%, 44%);
    --menu-button-bg-color: hsl(34, 50%, 25%);
    --menu-text-color: 	hsl(26, 13%, 69%);
    --menu-text-color-hover: hsl(32, 30%, 40%);
    --neck-bg: hsl(27, 63%, 9%);
    --bg-wood-image: url(../img/wood-pattern145.png);
    --bg-dropdown-hover: hsla(32, 56%, 58%, 0.138);
    --tuner-text-color: hsl(26, 14%, 67%);
    --tuner-text-color-hover: #c7c7c7;
    --about-text-color: hsl(33, 30%, 64%);

    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.scaleviewer-outer-container ::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

.scaleviewer-outer-container ::-webkit-scrollbar-track {
    background-color: none;

}

.scaleviewer-outer-container ::-webkit-scrollbar-thumb {
    width: 5px;
    height: 1px;
    box-shadow: inset 0 7px 5px rgb(37, 28, 16);
    border-radius: 2px;
}


body {
    padding: 0px;
    margin: 0px;
    background-color: var(--bg);
    background-image: var(--bg-wood-image);
    -webkit-font-smoothing: antialiased;

    overscroll-behavior-y: contain;
}

.splash {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: #110a00;
    color: rgb(130, 93, 47);

    animation-name: splash-fade;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.modal-overlay {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 400;
    background-color: #251e15;
    opacity: 0.0;
}

.modal-overlay.modal-overlay-open {
    opacity: 0.6;
    pointer-events: all;
}



.loading-modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    aspect-ratio: 1/1;
    z-index: 500;
    background-color: #1f1404;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.splash svg { 
    width: 50%;
 }

@keyframes splash-fade {
    0% { opacity:1; }
    99.99% { opacity: 0; }
    100% { opacity: 0; z-index: -1; }
}

.container {
    background: var(--bg-gradient-overlay);
    padding: -1px;
    /* margin: -1px; */
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

.content {
    display: grid;
    grid-template: repeat(24, 1fr) /
        repeat(24, 1fr);
    flex-grow: 1;

}

.content > .logo-container {
    position: relative;
    color:#1f1404;
    grid-area: 1 / 1 / 4 / 5;
    z-index: 300;
}

.content > .logo-container > svg {
    position: absolute;
    margin: 5px;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    grid-area: 7 / 1 / 20 / 25;
}

.scaleviewer-outer-container {
    position: relative;
    flex-grow: 1;
    background-color: var(--bg-scaleviewer);
    overflow: visible;
    width: 100%;

    border-radius: 1px;

    padding-top: 22px;
    padding-bottom: 0px;

    box-shadow: 0px 1px 2px -1px hsl(0 0% 0%/60%) inset,
        0px 1px 4px 0px hsl(0 0% 0%/60%) inset;

    transition: all 0.5s;
}

.scaleviewer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    overflow-x: scroll;
    overflow-y: hidden;
    padding: 1px;
    z-index: 200;
}

@media only screen and (max-height: 600px) {
    .main {
        grid-area: 1 / 1 / 25 / 25;
    }
}

@media only screen and (min-height: 1200px) and (orientation: portrait) {
    .main {
        grid-area: 10 / 2 / 16 / 24;
    }
}
